.listing {
    background-color: lightgrey;
    width: 250px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    padding-right:15px;
    padding-left:5px;
}
#inline-block {
    display:inline-block;
}
#header-button {
    padding-top:10px;
    text-align:center;
    line-height:65px;
    float:right;
}